<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Amazing Car Company</title>
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="pic/Logo/Favicon.png" type="image/x-icon">
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">
    <!-- Bootstrap + css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
  <!-- Navbar Start -->
  {{> nav}}
  <!-- Navbar End -->

  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- About Our Company -->
  <div class="about-company">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
          <div class="about-company-content mt-4">
            <div class="site-title mb-4">
              <span>About Our Company</span>
              <h2>How We Can Help you</h2>
            </div>
            <p class="site-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi, quas eius dolore quam ea blanditiis error alias repellat laudantium possimus culpa cumque aliquid unde.</p>
            <p class="site-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias corrupti sit maiores eius. Vel ab voluptate deserunt quidem porro qui dolores, perferendis quam beatae facilis.</p>
            <div>
              <button class="btn btn-search about-btn py-3 mt-3">More About Us</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="about-company-pic">
            <img class="img-fluid w-100 h-100" src="pic/Companypic.jpg" alt="Company Pic">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Our Company -->

  <!-- Counter Grid -->
  <div class="counter-area mt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
          <div class="counter-icon mb-3"><img src="https://img.icons8.com/ios/50/undefined/worker-male.png"/></div>
            <div>
              <h2>
                <span>20</span>+
              </h2>
            </div>
            <p>Expert Technicians</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
          <div class="counter-icon mb-1"><img src="https://img.icons8.com/external-others-zufarizal-robiyanto/64/undefined/external-employee-back-to-office-others-zufarizal-robiyanto.png"/></div>
            <div>
              <h2>
                <span>1026</span>
              </h2>
            </div>
            <p>Satisfied Client</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
          <div class="counter-icon mb-3"><img src="https://img.icons8.com/ios/50/undefined/business-network--v1.png"/></div>
            <div>
              <h2>
                <span>10</span>+
              </h2>
            </div>
            <p>Years Experiance</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
          <div class="counter-icon mb-3"><img src="https://img.icons8.com/ios/50/undefined/car-production.png"/></div>
            <div>
              <h2>
                <span>3500</span>
              </h2>
            </div>
            <p>Completed Project</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Grid -->

  <!-- services  -->
  <div class="main-services">
    <div class="container">
        <div class="col-12 text-center">
            <span>What we do</span>
            <h2>Our Services</h2>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="services-wraper text-center p-5">
                    <div class="service-icon">
                      <img src="iconpic\icons8-diagnostic-50.png"/>
                    </div>
                    <div class="service-text">
                      <h2>Diagnostic</h2>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro earum fugit dolores nostrum. Ullam perferendis error sequi vitae maxime quia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services-wraper text-center p-5">
                <div class="service-icon">
                  <img src="iconpic\icons8-car-battery-50.png"/>
                </div>
                <div class="service-text">
                  <h2>Batteries</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt reiciendis placeat ea maxime recusandae doloremque possimus dignissimos consequatur perspiciatis?</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services-wraper text-center p-5">
                <div class="service-icon">
                  <img src="iconpic\icons8-car-breaks-50.png"/>
                </div>
                <div class="service-text">
                  <h2>Breaks</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt reiciendis placeat ea maxime recusandae doloremque possimus dignissimos consequatur perspiciatis?</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services-wraper text-center p-5">
                <div class="service-icon">
                  <img src="iconpic\icons8-car-engine-64.png"/>
                </div>
                <div class="service-text">
                  <h2>Engine Repair</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt reiciendis placeat ea maxime recusandae doloremque possimus dignissimos consequatur perspiciatis?</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services-wraper text-center p-5">
                <div class="service-icon">
                  <img src="iconpic\icons8-tyre-64.png"/>
                </div>
                <div class="service-text">
                  <h2>Tire Replacement</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt reiciendis placeat ea maxime recusandae doloremque possimus dignissimos consequatur perspiciatis?</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services-wraper text-center p-5">
                <div class="service-icon">
                  <img src="iconpic\icons8-transmission-64.png"/>
                </div>
                <div class="service-text">
                  <h2>Transmission</h2>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt reiciendis placeat ea maxime recusandae doloremque possimus dignissimos consequatur perspiciatis?</p>

                </div>
              </div>
            </div>
        </div>
    </div>

</div>
<!-- services  -->

  <!-- Team -->
  <div class="team">
    <div class="container">
      <div class="col-12 text-center">
        <span>Meet Our Team</span>
        <h2>Our Awesome Team</h2>
      </div>
      <div class="row g-3">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="team-item text-center bg-light">
            <div class="position-relative overflow-hidden">
              <img src="pic/Teampic/team-1.jpg" alt="Team Pic">
            </div>
            <div class="bg-light text-center p-4">
              <h4>Name</h4>
              <small>CEO</small>
              <div class="social-icon">
                <ul class="d-flex g-3 justify-content-center">
                  <li><a class="social-icon-a" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="team-item text-center bg-light">
            <div class="position-relative overflow-hidden">
              <img src="pic/Teampic/team-1.jpg" alt="Team Pic">
            </div>
            <div class="bg-light text-center p-4">
              <h4>Name</h4>
              <small>CEO</small>
              <div class="social-icon">
                <ul class="d-flex g-3 justify-content-center">
                  <li><a class="social-icon-a" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="team-item text-center bg-light">
            <div class="position-relative overflow-hidden">
              <img src="pic/Teampic/team-1.jpg" alt="Team Pic">
            </div>
            <div class="bg-light text-center p-4">
              <h4>Name</h4>
              <small>CEO</small>
              <div class="social-icon">
                <ul class="d-flex g-3 justify-content-center">
                  <li><a class="social-icon-a" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="social-icon-a" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team -->


  <!-- Footer  -->
  <div class="footer-area">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="site-logo">
              <a href="index.html"><img src="pic/Logo/LogoFooter.png" alt="Logo Pic"></a>
            </div>
            <p class="text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eligendi doloremque, quae quo repellendus expedita.</p>
            <div class="social-icon-footer">
              <ul class="d-flex">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <h4 class="footer-h4 mb-4">Address</h4>
            <p class="text-white mb-3 footer-icon"><i class="bi bi-geo-alt"></i> 150 street, Swat, Pakistan</p>
              <p class="text-white mb-3 footer-icon"><i class="bi bi-telephone"></i> +92 340 9241528</p>
              <p class="text-white mb-3 footer-icon"><i class="bi bi-envelope"></i> iamtalhakhn@gmail.com</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <h4 class="footer-h4 mb-4">Opening Hours</h4>
            <h6 class="text-white">Monday-Friday</h6>
            <p class="text-white mb-4">09:00 AM - 09:00 PM</p>
            <h6 class="text-white">Saturday-Sunday</h6>
            <p class="text-white mb-4">09:00 AM - 02:00 PM</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <h4 class="footer-h4 mb-3">Services</h4>
            <ol class="text-white services-style">
              <li>Diagnostic</li>
              <li>Batteries</li>
              <li>Breaks</li>
              <li>Engine Repair</li>
              <li>Tire Replacement</li>
              <li>Transmission</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <span>Privacy Policy | © 2022 Amazing Car Company.  All rights reserved</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer  -->

  <!-- Back to Top -->
  <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
    <i class="bi bi-arrow-up-circle-fill"></i>
  </button>
  <!-- Back to Top -->

  <!-- Script -->
  <script src="js/bootstrap.js"></script>
  <script src="js/index.js"></script>
</body>
</html>