<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Amazing Car Company</title>
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="pic/Logo/Favicon.png" type="image/x-icon" />
    <!-- fontAwesome -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap + css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Navbar Start -->
    {{> nav}}
    <!-- Navbar End -->
    <!-- Carousel -->
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="Slideimg1.jpg" class="d-block w-100" alt="Carousel Pic" />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="Slideimg1.jpg" class="d-block w-100" alt="Carousel Pic" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="Slideimg1.jpg" class="d-block w-100" alt="Carousel Pic" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Carousel -->
    <!-- feature -->
    <div class="feature-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="bi bi-calendar-check"></i>
              </div>
              <div class="feature-content">
                <h5>Book your Appointment</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="bi-alarm"></i>
              </div>
              <div class="feature-content">
                <h5>Save Your Time</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="feature-item">
              <div class="feature-icon">
                <i class="bi bi-currency-dollar"></i>
              </div>
              <div class="feature-content">
                <h5>Save Your Money</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- feature -->

    <!-- Pricing  -->
    <section class="pb-4 mt-3 pt-5">
      <div class="pricing-title">
        <h1 class="mb-5">Our Pricing</h1>
      </div>
      <div class="container">
        <div class="row mb-5 g-5">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-diagnostic-50.png"
                    alt="icon"
                  />
                  Diagnostic</h3>
              </div>
              <div class="service-pic">
                <img
                  class="img-fluid w-100 h-100"
                  src="pic/Diagnostic.jpg"
                  alt=""
                />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$25</span>
                    <h4>Diagnostic</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-car-battery-50.png"
                    alt="icon"
                  />
                  Batteries</h3>
              </div>
              <div class="service-pic">
                <img
                  class="img-fluid w-100 h-100"
                  src="pic/Batteries.jpg"
                  alt=""
                />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$15</span>
                    <h4>Batteries</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-car-breaks-50.png"
                    alt="icon"
                  />
                  Breaks</h3>
              </div>
              <div class="service-pic">
                <img
                  class="img-fluid w-100 h-100"
                  src="pic/Breaks.jpg"
                  alt=""
                />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$18</span>
                    <h4>Breaks</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-car-engine-64.png"
                    alt="icon"
                  />
                  Engine Repair</h3>
              </div>
              <div class="service-pic">
                <img
                  class="img-fluid w-100 h-100"
                  src="pic/Enginerepair.jpg"
                  alt=""
                />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$49.99</span>
                    <h4>Engain Repair</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-tyre-64.png"
                    alt="icon"
                  />
                  Tire Replacement</h3>
              </div>
              <div class="service-pic">
                <img class="img-fluid w-100 h-100" src="pic/Tire.jpg" alt="" />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$20</span>
                    <h4>Tire Replacement</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="service-box">
              <div class="service-title">
                <h3 class="mb-3"><img
                    class="serv-icon"
                    src="iconpic/icons8-transmission-64.png"
                    alt="icon"
                  />
                  Transmission</h3>
              </div>
              <div class="service-pic">
                <img
                  class="img-fluid w-100 h-100"
                  src="pic/Transmission.jpg"
                  alt=""
                />
                <div class="pricing-overlay">
                  <div class="pricing-text">
                    <span>$20</span>
                    <h4>Transmission</h4>
                    <p>Full Service</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row g-5 mt-3 mb-5">
        
      </div> -->
      </div>

    </section>
    <!-- Pricing  -->

    <!-- Counter Grid -->
    <div class="counter-area mt-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
            <div class="counter-icon mb-3"><img
                src="https://img.icons8.com/ios/50/undefined/worker-male.png"
              /></div>
            <div>
              <h2>
                <span>20</span>+
              </h2>
            </div>
            <p>Expert Technicians</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
            <div class="counter-icon mb-1"><img
                src="https://img.icons8.com/external-others-zufarizal-robiyanto/64/undefined/external-employee-back-to-office-others-zufarizal-robiyanto.png"
              /></div>
            <div>
              <h2>
                <span>1026</span>
              </h2>
            </div>
            <p>Satisfied Client</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
            <div class="counter-icon mb-3"><img
                src="https://img.icons8.com/ios/50/undefined/business-network--v1.png"
              /></div>
            <div>
              <h2>
                <span>10</span>+
              </h2>
            </div>
            <p>Years Experiance</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 counter-grid">
            <div class="counter-icon mb-3"><img
                src="https://img.icons8.com/ios/50/undefined/car-production.png"
              /></div>
            <div>
              <h2>
                <span>3500</span>
              </h2>
            </div>
            <p>Completed Project</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Grid -->

    <!-- Book A Service -->
    <div class="container pt-5 mb-5">
      <div
        class="booking-area h-100 d-flex flex-column justify-content-center text-center p-5"
      >
        <h1 class="mb-5">Book For A Service</h1>
        <form method="POST" action="/booking/create">
          <div class="row g-3">
            <div class="col-12 col-sm-6">
              <input
                name="name"
                type="text"
                class="form-control rounded-pill"
                placeholder="Your Name"
                style="height: 55px;"
              />
            </div>
            <div class="col-12 col-sm-6">
              <input
                name="email"
                type="email"
                class="form-control rounded-pill"
                placeholder="Your Email"
                style="height: 55px;"
              />
            </div>
            <div class="col-12 col-sm-6">
              <select
                name="service"
                class="form-select rounded-pill"
                style="height: 55px;"
              >
                <option selected>Select A Service</option>
                <option value="Diagnostic">Diagnostic</option>
                <option value="Batteries">Batteries</option>
                <option value="Breaks">Breaks</option>
                <option value="Engine Repair">Engine Repair</option>
                <option value="Tire Replacement">Tire Replacement</option>
                <option value="Transmission">Transmission</option>
              </select>
            </div>
            <div class="col-12 col-sm-6">
              <input
                name="appointmentDate"
                type="date"
                class="form-control datetimepicker-input rounded-pill"
                placeholder="Service Date"
                data-target="#date1"
                data-toggle="datetimepicker"
                style="height: 55px;"
              />
            </div>
            <div class="col-12">
              <textarea
                name="description"
                class="form-control"
                placeholder="Basic Information"
              ></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-search w-100 py-3" type="submit">Book Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Book A Service -->

    <!-- Footer  -->
    <div class="footer-area">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="site-logo"><a href="index.html"><img
                    src="pic/Logo/LogoFooter.png"
                    alt="Logo Pic"
                  /></a></div>
              <p class="text-white">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Est eligendi doloremque, quae quo repellendus
                expedita.</p>
              <div class="social-icon-footer">
                <ul class="d-flex">
                  <li><i class="fa fa-facebook"></i></li>
                  <li><i class="fa fa-twitter"></i></li>
                  <li><i class="fa fa-instagram"></i></li>
                  <li><i class="fa fa-google-plus"></i></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <h4 class="footer-h4 mb-4">Address</h4>
              <p class="text-white mb-3 footer-icon"><i
                  class="bi bi-geo-alt"
                ></i>
                150 street, Swat, Pakistan</p>
              <p class="text-white mb-3 footer-icon"><i
                  class="bi bi-telephone"
                ></i>
                +92 340 9241528</p>
              <p class="text-white mb-3 footer-icon"><i
                  class="bi bi-envelope"
                ></i>
                iamtalhakhn@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <h4 class="footer-h4 mb-4">Opening Hours</h4>
              <h6 class="text-white">Monday-Friday</h6>
              <p class="text-white mb-4">09:00 AM - 09:00 PM</p>
              <h6 class="text-white">Saturday-Sunday</h6>
              <p class="text-white mb-4">09:00 AM - 02:00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <h4 class="footer-h4 mb-3">Services</h4>
              <ol class="text-white services-style">
                <li>Diagnostic</li>
                <li>Batteries</li>
                <li>Breaks</li>
                <li>Engine Repair</li>
                <li>Tire Replacement</li>
                <li>Transmission</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row text-center">
            <div class="col-12">
              <span>Privacy Policy | © 2022 Amazing Car Company. All rights
                reserved</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer  -->

    <!-- Back to Top -->
    <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </button>
    <!-- Back to Top -->
    <!-- Script -->
    <script src="js/bootstrap.js"></script>
    <script src="js/index.js"></script>

  </body>
</html>