/* .row{
    height: 30.85rem;
} */

/* .layoutAuthentication_footer{
    position: absolute;
    bottom: 0;
    left: 0;
} */
/* .bg-login-image{
    overflow: hidden;
} */

/* .navbar-nav{
    display: flex;
    justify-content: flex-end;

} */
/* .nav-login{
    display: inline;
    

} */